{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Request</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class="vi" align="center">Gas Utility System</h1>
    <form>
    <h1 align="center">Track Request</h1>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Details</th>
                <th>Status</th>
                <th>Submitted At</th>
                <th>Resolved At</th>
            </tr>
        </thead>
        <tbody>
            {% for request in service_requests %}
            <tr>
                <td>{{ request.type }}</td>
                <td>{{ request.details }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.created_at }}</td>
                <td>{{ request.resolved_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/submit" class="btn btn-primary border-inner  anchor">Add Another Request</a>
        <a href="/manage" class="btn btn-primary border-inner  anchor">Manage Request</a>
    </form>
</body>
</html>
